/* als.css */

html, body {
	margin: 0;
	padding: 0;
}

h1 {
	margin: 0 0 0.8em 0;
	padding: 0.8em 2em 0.8em 2em;
	color: white;
	background-color: #333;
}

ol {
	float: left;
	margin: 0 1em 1em 1em;
	padding: 0 2em;
	border-right: dotted 1px black;
}
li {
	list-style: none;
	font: 9pt monospace;
}
li.kynppi {
	list-style: decimal;
}

form > * {
	font: 14pt "Arial", sans-serif;
}
form > input {
	width: 4em;
	border: none;
	border-bottom: dashed 2px black;
}
form > input:focus {
	outline: none;
}

p {
	margin-top: 2.2em;
	font: 10pt serif;
}
p > strong {
	float: left;
	margin: 0 1em;
	font: 20pt "FreeMono", "Courier New", monospace;
}
p > em, p > b { margin-right: 1em; }
p > span.hit { color: green; }
p > span.miss { color: red; }
